@import "_pure.css"
@import _color
@import _mixins

body
  background-color: silver
.welcome
  background-color: cloud
  padding: 10px 20px
  margin-top: 10px
  border-radius: 2px
  text-align: center